body {
	background-color: #2a2a2a;
}

fieldset {
    margin-top: -20px;
    border-radius: 5px;
    border: transparent;
    background-color: #70f5ff;
    margin-left: -1px; margin-right: -1px;
    padding-bottom: 20px;
}

#newPerson { 
    height: 120px;
    overflow: scroll;
}

button{
    border: transparent;
    background-color: white;
    border-radius: 3px;
    font-weight: bold;
    /*box-shadow: 1px 1px 1px black;*/
}
#ajoutName {
    position: absolute;
    margin-top: 55px;
    left: 75px;
    margin-right: -200px;
}
#selectNom {
    font-weight: bold;
    background-color: white;
    border: 1px solid transparent;
    border-radius: 3px;
   /* box-shadow: 1px 1px 1px black;*/
}
#ajoutPerso {
    visibility: hidden;
    position: absolute;
    z-index: 1;
    width: auto; height: 20px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
    padding: 20px;
    padding-top: 20px;
    margin-top: -160px;
    margin-left: -10px;
    margin-right: 8px;
}

/* SECTION 3 - CARD */
#s3 {
	display: flex;
	justify-content: center;
	align-items: center;
	overflow-y: scroll;
}
.containerCard {
	padding: 30px 0;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center; 
	margin-top: 100px;
}
.s3-card {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 100px;
	margin-right: 100px;
	flex-wrap: wrap;
}

.card {
	width: 250px;
	height: 300px;
	position: relative;
	transform-style: preserve-3d;
	cursor: pointer;
	margin-top: 0;
}
.card .face {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	transform-style: preserve-3d;
	transform: perspective(500px) rotateY(0);
	backface-visibility: hidden;
	transition: all 0.5s ease-in-out;
}
.card .face.front {
	transform: perspective(500px) rotateY(0);
}
.card .face.front::before {
	content: '';
	position: absolute;
	width: 90%;
	height: 90%;
	background: transparent;
	border: 2px solid #fefae0;
	border-radius: 6px;
}
.card .face.front::after {
	content: '';
	position: absolute;
	width: 80%;
	height: 80%;
	background: transparent;
	border-top: 5px solid #fefae0;
	border-bottom: 5px solid #fefae0;/**/
}
.card .face.front h3 {
	font-size: 20px;
	font-weight: 700;
	text-transform: uppercase;
	padding-bottom: 5px;
	color: #fefae0;
}
.card .face.front img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.card .face.back {
    margin-left: -10px;
	text-align: center;
	background: #fefae0;
	transform: perspective(500px) rotateY(180deg);
	border-radius: 6px;
	padding: 10px;
}
.card .face.back span {
	font-size: 13px;
	font-weight: 500;
	text-transform: capitalize;
	padding-bottom: 20px;
}
.card:hover .face.front {
	transform: perspective(500px) rotateY(180deg);
}
.card:hover .face.back {
	transform: perspective(500px) rotateY(360deg);
}

/* PROJET 2 - MORPION */
.main {
    margin-top: 20px;
}
table {
    margin-left: auto; margin-right: auto;/*pour garder l'objet au centre*/
    border: 0px solid black;
    border-radius: 10px;
}
tr {
    border: 1px solid black;
    border-radius: 10px;    
    background-color: white;
}
.case {
    background-color: white;
    border: 1px solid black;
    width: 50px; height: 50px;
    text-align: center;
    font-size: 20px;
    box-shadow: 1px 1px 1px 3px darkblue;
    cursor: pointer;
    border-radius: 10px;
}
.choix {
    opacity: 0.1;
}
.victoire {
    position: fixed;
    letter-spacing: 2px;
    left: 0px;
    top: 100px;
    text-align: center;
    color: red;
    text-shadow: 9px 4px 6px black;
    font-size: 25px;
    font-weight: bold;
    width: 100%;
}
#count p{
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    padding: 0px;
    color: #2a2a2a;
    /*text-shadow: 9px 4px 6px black;*/
}
#rejouer {
    position: fixed;
    left: 0px;
    top: 200px;
    text-align: center;
    width: 100%;
}
#button {
    font-size: 20px;
    font-weight: bold;
    font-family: italic;
    cursor: pointer;
    padding: 10px;
    margin-bottom: 200px;
    border-radius: 10px;
    background-color: gray;
    color: white;
    text-shadow: 9px 4px 6px black;
    box-shadow: 2px 1px 1px 2px black;
}

/* PROJET3 - CHOIX DE COULEURS */
#projet3 { 
    /*background-image: -webkit-linear-gradient(left, white, skyblue,pink, skyblue, white);*/
    font-family: Verdana, Arial, Halvetica; 
}
table { 
    margin-left: auto; margin-right: auto;/*pour garder l'objet au centre*/
    border: 0; 
}
td {
	background-color: #fefae0;
}
.tableColor {
    margin-top: -100px;
    margin-bottom: 10px;
}
.titleChoiceColor {
	text-decoration: none;
    margin-top: 100px;
    margin-left: 20px;
}

/* CALCULATRICE */
#container1 {
    display: block;
    position: absolute;
    background-color: #fff;
    width: 250px; height: auto;
    top: 0; left: 0;
    margin-left: 5px;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 3px 5px rgba(0,0,0,0.3);
    padding: 5px;
}
#output {
    display: block;
    position: relative;
    background-image: -webkit-linear-gradient(right,red,blue);
    width: 80%; height: 50px;
    border-radius: 10px;
    text-align: right;
    user-select: auto;
    box-shadow: 0 1px 3px black;
    margin: 10px 20px 10px 20px;
    padding-right: 5px;
}
#output1 {
    color: yellow; 
    font-size: 17px;
    margin-top: 20px;
}
#output2 {
    color: white; font-size: 28px;
    overflow: auto;
}
#keypad {
    display: block;
    position: relative;
    width: 90%; height: 65%;
    border-radius: 10px;
    margin: 15px;
}
.button {
    display: inline-block;
    position: relative;
    height: 30px; width: 30px;
    border-radius: 50%;
    margin: 5px;
    border: none; outline: none;
    transition: .15s;
    font-size: 15px;
    box-shadow: 0 1px 3px black;
}
.button:active {
    transform: scale(1.8);
}
#equal {
    display: inline-block;
    height: 30px; width: 30px;
    border-radius: 50%;
    border: none; outline: none;
    transition: .15s;
    background-color: tomato; 
    color: white;
}
#equal:active { 
    transition: scale(1.8);
}
#operators,#back {
    background-color: #03346C;
    color: white;
    font-size: 18px;
    padding-top: 3px;
}
#back {
    padding-top: 5px;
    padding-right: 7px;
}
#numbers {
    background-image: -webkit-linear-gradient(left,blue, green);
    color: white;
}
#Snumber {
    background-color: white;
    color: black;
    border: solid 2px red;
    box-shadow: 0 1px 3px darkred;
}

/* SUPER LOTO */
#block {
    margin-left:0%;
    margin-top: 5%;   
}
.sp {
    display: inline-block;
    position: relative;
    height: 5px; 
    width: 30px;
    border-radius: 50%;
    padding-top: 5px;
    margin: 5px;
    background-color: red;
    transition: .15s;
    text-align: center;
    text-align: center;
    color: white;
    margin-top: 10px;
    box-shadow: 1px 1px 6px black;
}
.block-jocker {
    padding: 0px;
}
#n1, #n2, #n3, #n4, #n5 {
    font-size: 20px;
    font-weight: bold;
}
#n6, #n7 {
    background-color: yellow;
    margin-left: 20px;
    color: darkblue;
    font-size: 20px;
    font-weight: bold;
}
.play-loto {
    background-color: white;
    font-size: 30px;
    padding: 5px 20px 5px 20px;
    border-radius: 10px;
}
button {
    margin-top: 30px;
    margin-left: 0%;
    margin-bottom: 10px;
    transition: .5s;
}
button:hover {
    box-shadow: 1px 1px 6px black;
    transition: .5s;
}

/* BLOCKBREACKER */
canvas {
    position: absolute;
    background-color: #fefae0;
    display: block;
    margin: 0 auto;
    border-radius: 5px;
}
#myCanvas {
    margin-top: 0px;
    box-shadow: 2px 2px 6px;

}
.play-block {
    position: absolute;
    font-size: 40px;
    padding: 5px 20px 5px 20px;
    border-radius: 10px;
    cursor: pointer;
    background-color: transparent;
}
.play-block-hidden {
    animation: fadeIn 1 ease-in 2s;  
}
@keyframes fadeIn {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}


